################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeetUp/config/applicationhost.config
/.vs/MeetUp/DesignTimeBuild/.dtbcache.v2
/.vs/MeetUp/FileContentIndex/69d51398-c0ef-4af7-814f-fd90ad8fed29.vsidx
/.vs/MeetUp/FileContentIndex/969246e6-a334-42f9-a4ce-b4ab57e27530.vsidx
/.vs/MeetUp/FileContentIndex/a1b908df-12a8-4874-9e4e-c159eafcdebf.vsidx
/.vs/MeetUp/FileContentIndex/b0e7f1f9-bb1a-4b10-9a16-544a80bc11be.vsidx
/.vs/MeetUp/FileContentIndex/e3adc270-de4a-4cf7-b6a6-b836dd04fff5.vsidx
/.vs/MeetUp/v17/.futdcache.v2
/.vs/MeetUp/v17/.suo
/.vs/MeetUp/v17/DocumentLayout.json
/.vs/MeetUp/v17/HierarchyCache.v1.txt
/.vs/ProjectEvaluation/meetup.metadata.v7.bin
/.vs/ProjectEvaluation/meetup.projects.v7.bin
/.vs/MeetUp/FileContentIndex/bc1d21c7-01c1-47d8-a026-f6b844be3c87.vsidx
/.vs/MeetUp/FileContentIndex
/Workout.Web/bin/Release/net8.0/appSettings.Production.json
/.vs/Workout/v17
/Workout.Application/bin/Release/net8.0
/Workout.Application/obj/Release/net8.0
/Workout.Web/bin/Release/net8.0/Azure.Core.dll
/Workout.Web/bin/Release/net8.0/Azure.Identity.dll
/Workout.Web/bin/Release/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/Workout.Web/bin/Release/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/Workout.Web/bin/Release/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/Workout.Web/bin/Release/net8.0/Microsoft.AspNetCore.Identity.UI.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Data.SqlClient.dll
/Workout.Web/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Workout.Web/bin/Release/net8.0/Microsoft.EntityFrameworkCore.dll
/Workout.Web/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/Workout.Web/bin/Release/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Caching.Memory.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.FileProviders.Embedded.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Identity.Core.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Identity.Stores.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Logging.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Options.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Extensions.Primitives.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Identity.Client.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Workout.Web/bin/Release/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Workout.Web/bin/Release/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Workout.Web/bin/Release/net8.0/Microsoft.IdentityModel.Logging.dll
/Workout.Web/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.dll
/Workout.Web/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Workout.Web/bin/Release/net8.0/Microsoft.IdentityModel.Tokens.dll
/Workout.Web/bin/Release/net8.0/Microsoft.SqlServer.Server.dll
/Workout.Web/bin/Release/net8.0/Microsoft.Win32.SystemEvents.dll
/Workout.Web/bin/Release/net8.0/System.ClientModel.dll
/Workout.Web/bin/Release/net8.0/System.Configuration.ConfigurationManager.dll
/Workout.Web/bin/Release/net8.0/System.Diagnostics.DiagnosticSource.dll
/Workout.Web/bin/Release/net8.0/System.Drawing.Common.dll
/Workout.Web/bin/Release/net8.0/System.Formats.Asn1.dll
/Workout.Web/bin/Release/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Workout.Web/bin/Release/net8.0/System.IO.Pipelines.dll
/Workout.Web/bin/Release/net8.0/System.Memory.Data.dll
/Workout.Web/bin/Release/net8.0/System.Runtime.Caching.dll
/Workout.Web/bin/Release/net8.0/System.Security.Cryptography.ProtectedData.dll
/Workout.Web/bin/Release/net8.0/System.Security.Permissions.dll
/Workout.Web/bin/Release/net8.0/System.Text.Encodings.Web.dll
/Workout.Web/bin/Release/net8.0/System.Text.Json.dll
/Workout.Web/bin/Release/net8.0/System.Windows.Extensions.dll
/Workout.Web/bin/Release/net8.0/Workout.Application.dll
/Workout.Web/bin/Release/net8.0/Workout.Application.pdb
/Workout.Web/bin/Release/net8.0/Workout.Domain.dll
/Workout.Web/bin/Release/net8.0/Workout.Domain.pdb
/Workout.Web/bin/Release/net8.0/Workout.Infrastructure.dll
/Workout.Web/bin/Release/net8.0/Workout.Infrastructure.pdb
/Workout.Web/bin/Release/net8.0/Workout.Web.deps.json
/Workout.Web/bin/Release/net8.0/Workout.Web.dll
/Workout.Web/bin/Release/net8.0/Workout.Web.exe
/Workout.Web/bin/Release/net8.0/Workout.Web.pdb
/Workout.Web/bin/Release/net8.0/Workout.Web.runtimeconfig.json
/Workout.Web/bin/Release/net8.0/Workout.Web.staticwebassets.runtime.json
/Workout.Application/obj
/Workout.Infrastructure/bin/Release/net8.0
/Workout.Infrastructure/obj/Release/net8.0
/Workout.Infrastructure/obj
/Workout.Infrastructure/obj/project.assets.json
/Workout.Web/obj
/Workout.Domain/bin/Release/net8.0
/.vs/Workout/config
/.vs/Workout/DesignTimeBuild
/Workout.Domain/obj/Release/net8.0/ref/Workout.Domain.dll
/Workout.Domain/obj/Release/net8.0/refint/Workout.Domain.dll
/Workout.Domain/obj/Release/net8.0/Workout.Domain.sourcelink.json
/Workout.Domain/obj/Release/net8.0/Workout.Domain.dll
/Workout.Domain/obj/Release/net8.0/Workout.Domain.AssemblyInfo.cs
/Workout.Domain/obj/Release/net8.0/Workout.Domain.AssemblyInfoInputs.cache
/Workout.Domain/obj/Release/net8.0/Workout.Domain.pdb
/.vs/Workout/FileContentIndex/ab5b8cc6-55ae-491e-a18d-a2211e1ec3e7.vsidx
*.vsidx
/Workout.Web/Properties/PublishProfiles/MeetUp20250423165355 - Web Deploy.pubxml.user
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
/Workout.Web/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
