################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeetUp/config/applicationhost.config
/.vs/MeetUp/DesignTimeBuild/.dtbcache.v2
/.vs/MeetUp/FileContentIndex/69d51398-c0ef-4af7-814f-fd90ad8fed29.vsidx
/.vs/MeetUp/FileContentIndex/969246e6-a334-42f9-a4ce-b4ab57e27530.vsidx
/.vs/MeetUp/FileContentIndex/a1b908df-12a8-4874-9e4e-c159eafcdebf.vsidx
/.vs/MeetUp/FileContentIndex/b0e7f1f9-bb1a-4b10-9a16-544a80bc11be.vsidx
/.vs/MeetUp/FileContentIndex/e3adc270-de4a-4cf7-b6a6-b836dd04fff5.vsidx
/.vs/MeetUp/v17/.futdcache.v2
/.vs/MeetUp/v17/.suo
/.vs/MeetUp/v17/DocumentLayout.json
/.vs/MeetUp/v17/HierarchyCache.v1.txt
/.vs/ProjectEvaluation/meetup.metadata.v7.bin
/.vs/ProjectEvaluation/meetup.projects.v7.bin
/.vs/MeetUp/FileContentIndex/bc1d21c7-01c1-47d8-a026-f6b844be3c87.vsidx
/.vs/MeetUp/FileContentIndex
/Workout.Web/bin/Release/net8.0/appSettings.Production.json
/.vs/Workout/v17
/Workout.Web/obj/Debug/net8.0/staticwebassets/msbuild.build.Workout.Web.props
/Workout.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Workout.Web.props
/Workout.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Workout.Web.props
/Workout.Web/obj/Debug/net8.0/staticwebassets/msbuild.Workout.Web.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/Workout.Web/obj/Debug/net8.0/staticwebassets/msbuild.Workout.Web.Microsoft.AspNetCore.StaticWebAssets.props
/.vs/VSWorkspaceState.json
/.vs/Workout/FileContentIndex/3c992d91-9653-4621-a2dc-888ca9d997e8.vsidx
/Workout.Application/obj/Debug/net8.0/ref/Workout.Application.dll
/Workout.Application/obj/Debug/net8.0/refint/Workout.Application.dll
/Workout.Application/obj/Debug/net8.0/Workout.Application.AssemblyInfo.cs
/Workout.Application/obj/Debug/net8.0/Workout.Application.AssemblyInfoInputs.cache
/Workout.Application/obj/Debug/net8.0/Workout.Application.assets.cache
/Workout.Application/obj/Debug/net8.0/Workout.Application.csproj.AssemblyReference.cache
/Workout.Application/obj/Debug/net8.0/Workout.Application.csproj.BuildWithSkipAnalyzers
/Workout.Application/obj/Debug/net8.0/Workout.Application.csproj.CoreCompileInputs.cache
/Workout.Application/obj/Debug/net8.0/Workout.Application.csproj.FileListAbsolute.txt
/Workout.Application/obj/Debug/net8.0/Workout.Application.dll
/Workout.Application/obj/Debug/net8.0/Workout.Application.GeneratedMSBuildEditorConfig.editorconfig
/Workout.Application/obj/Debug/net8.0/Workout.Application.GlobalUsings.g.cs
/Workout.Application/obj/Debug/net8.0/Workout.Application.pdb
/Workout.Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Workout.Application/obj/Debug/net8.0/Workout..9AE0E473.Up2Date
/Workout.Application/obj/Debug/net8.0/Workout.Application.sourcelink.json
/Workout.Domain/bin/Debug/net8.0/Workout.Domain.deps.json
/Workout.Domain/bin/Debug/net8.0/Workout.Domain.dll
/Workout.Domain/bin/Debug/net8.0/Workout.Domain.pdb
/Workout.Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.AssemblyInfo.cs
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.AssemblyInfoInputs.cache
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.assets.cache
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.csproj.BuildWithSkipAnalyzers
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.csproj.CoreCompileInputs.cache
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.csproj.FileListAbsolute.txt
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.dll
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.GlobalUsings.g.cs
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.pdb
/Workout.Domain/obj/Debug/net8.0/Workout.Domain.sourcelink.json
/Workout.Domain/obj/Debug/net8.0/ref/Workout.Domain.dll
/Workout.Domain/obj/Debug/net8.0/refint/Workout.Domain.dll
/Workout.Infrastructure/obj/Debug/net8.0/ref/Workout.Infrastructure.dll
/Workout.Infrastructure/obj/Debug/net8.0/refint/Workout.Infrastructure.dll
/Workout.Infrastructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Workout.Infrastructure/obj/Debug/net8.0/Workout..3E9EEBC3.Up2Date
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.AssemblyInfo.cs
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.AssemblyInfoInputs.cache
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.assets.cache
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.csproj.AssemblyReference.cache
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.csproj.BuildWithSkipAnalyzers
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.csproj.CoreCompileInputs.cache
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.csproj.FileListAbsolute.txt
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.dll
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.GlobalUsings.g.cs
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.pdb
/Workout.Infrastructure/obj/Debug/net8.0/Workout.Infrastructure.sourcelink.json
/Workout.Infrastructure/bin/Debug/net8.0/Workout.Application.pdb
/Workout.Infrastructure/bin/Debug/net8.0/Workout.Domain.dll
/Workout.Infrastructure/bin/Debug/net8.0/Workout.Domain.pdb
/Workout.Infrastructure/bin/Debug/net8.0/Workout.Infrastructure.deps.json
/Workout.Infrastructure/bin/Debug/net8.0/Workout.Infrastructure.dll
/Workout.Infrastructure/bin/Debug/net8.0/Workout.Infrastructure.pdb
/Workout.Web/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/Workout.Web/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/Workout.Web/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Workout.Web/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Workout.Web/bin/Debug/net8.0/appsettings.Development.json
/Workout.Web/bin/Debug/net8.0/appsettings.json
/Workout.Web/bin/Debug/net8.0/appSettings.Production.json
/Workout.Web/bin/Debug/net8.0/Azure.Core.dll
/Workout.Web/bin/Debug/net8.0/Azure.Identity.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.UI.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Embedded.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Identity.Core.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Identity.Stores.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/Workout.Web/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/Workout.Web/bin/Debug/net8.0/System.ClientModel.dll
/Workout.Web/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/Workout.Web/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/Workout.Web/bin/Debug/net8.0/System.Drawing.Common.dll
/Workout.Web/bin/Debug/net8.0/System.Formats.Asn1.dll
/Workout.Web/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Workout.Web/bin/Debug/net8.0/System.IO.Pipelines.dll
/Workout.Web/bin/Debug/net8.0/System.Memory.Data.dll
/Workout.Web/bin/Debug/net8.0/System.Runtime.Caching.dll
/Workout.Web/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/Workout.Web/bin/Debug/net8.0/System.Security.Permissions.dll
/Workout.Web/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/Workout.Web/bin/Debug/net8.0/System.Text.Json.dll
/Workout.Web/bin/Debug/net8.0/System.Windows.Extensions.dll
/Workout.Web/bin/Debug/net8.0/Workout.Application.dll
/Workout.Web/bin/Debug/net8.0/Workout.Application.pdb
/Workout.Web/bin/Debug/net8.0/Workout.Domain.dll
/Workout.Web/bin/Debug/net8.0/Workout.Domain.pdb
/Workout.Web/bin/Debug/net8.0/Workout.Infrastructure.dll
/Workout.Web/bin/Debug/net8.0/Workout.Infrastructure.pdb
/Workout.Web/bin/Debug/net8.0/Workout.Web.deps.json
/Workout.Web/bin/Debug/net8.0/Workout.Web.dll
/Workout.Web/bin/Debug/net8.0/Workout.Web.exe
/Workout.Web/bin/Debug/net8.0/Workout.Web.pdb
/Workout.Web/bin/Debug/net8.0/Workout.Web.runtimeconfig.json
/Workout.Web/bin/Debug/net8.0/Workout.Web.staticwebassets.endpoints.json
/Workout.Web/bin/Debug/net8.0/Workout.Web.staticwebassets.runtime.json
/Workout.Web/obj/Debug/net8.0/ref/Workout.Web.dll
/Workout.Web/obj/Debug/net8.0/refint/Workout.Web.dll
/Workout.Web/obj/Debug/net8.0/scopedcss/bundle/Workout.Web.styles.css
/Workout.Web/obj/Debug/net8.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
/Workout.Web/obj/Debug/net8.0/scopedcss/projectbundle/Workout.Web.bundle.scp.css
/Workout.Web/obj/Debug/net8.0/ApiEndpoints.json
/Workout.Web/obj/Debug/net8.0/apphost.exe
/Workout.Web/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Workout.Web/obj/Debug/net8.0/staticwebassets.build.json
/Workout.Web/obj/Debug/net8.0/staticwebassets.development.json
/Workout.Web/obj/Debug/net8.0/staticwebassets.pack.json
/Workout.Web/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/Workout.Web/obj/Debug/net8.0/staticwebassets.removed.txt
/Workout.Web/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/Workout.Web/obj/Debug/net8.0/Workout..3D98389C.Up2Date
/Workout.Web/obj/Debug/net8.0/Workout.Web.csproj.BuildWithSkipAnalyzers
/Workout.Web/obj/Debug/net8.0/Workout.Web.csproj.CoreCompileInputs.cache
/Workout.Web/obj/Debug/net8.0/Workout.Web.csproj.FileListAbsolute.txt
/Workout.Infrastructure/bin/Debug/net8.0/Workout.Application.dll
/Workout.Web/obj/Debug/net8.0/Workout.Web.dll
/Workout.Web/obj/Debug/net8.0/Workout.Web.genruntimeconfig.cache
/Workout.Web/obj/Debug/net8.0/Workout.Web.MvcApplicationPartsAssemblyInfo.cache
/Workout.Web/obj/Debug/net8.0/Workout.Web.MvcApplicationPartsAssemblyInfo.cs
/Workout.Web/obj/Debug/net8.0/Workout.Web.pdb
/Workout.Web/obj/Debug/net8.0/Workout.Web.sourcelink.json
