<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/79e7de39-8167-49db-9b9e-35a5be20b467/resourcegroups/MeetUp20250423165355ResourceGroup/providers/Microsoft.ContainerRegistry/registries/WorkoutInfrastructure20250504174021</ResourceId>
    <ResourceName>WorkoutInfrastructure20250504174021</ResourceName>
    <ResourceGroup>MeetUp20250423165355ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>workoutinfrastructure20250504174021.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>