@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using MeetUp.Data.User

@inject SignInManager<ApplicationUserEO> SignInManager
@inject UserManager<ApplicationUserEO> UserManager

<div class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link">Welcome, @UserManager.GetUserName(User)</span>
        </li>
        <li class="nav-item">
            <form method="post" asp-area="" asp-page="/Account/Logout">
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/Account/Register">Register</a>
        </li>
    }
</div>